@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");
.navigation {
  position: fixed;
  top: 16px;
  bottom: 16px;
  left: 16px;
  width: 350px;
  background-color: #776599;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}
.navigation .nav-icon {
  width: 70px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #625686;
  position: relative;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.navigation .nav-icon svg {
  width: 40px;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 60px;
  z-index: 1000;
}
.navigation .nav-icon ul {
  position: relative;
}
.navigation .nav-icon ul li {
  position: relative;
  list-style: none;
  margin-bottom: 20px;
}
.navigation .nav-icon ul li .iconBx {
  width: 40px;
  height: 40px;
}
.navigation .nav-icon ul li .iconBx img {
  width: 100%;
}
.navigation .nav-content {
  width: calc(100% - 70px);
  display: flex;
  flex-direction: column;
}
.navigation .nav-content .nav-title {
  height: 44px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  color: #fff;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navigation .nav-content ul {
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 14px;
}
.navigation .nav-content ul li {
  position: relative;
  list-style: none;
  margin-bottom: 10px;
  padding: 14px;
  border-radius: 6px;
}
.navigation .nav-content ul li.active {
  background-color: #31295d;
}
.navigation .nav-content ul li .itemBx {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  padding: 4px;
}
.navigation .nav-content ul li .itemBx img {
  width: 100%;
  filter: invert(1);
}
.navigation .nav-content a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.navigation .nav-talking {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #1d203e;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.navigation .nav-talking .nav-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
}
.navigation .nav-talking svg {
  width: 32px;
  height: 32px;
  margin-right: 4px;
}
.navigation .nav-talking .talkingBx {
  width: 32px;
  padding: 8px;
  display: flex;
  align-items: center;
}
.navigation .nav-talking img {
  width: 100%;
  filter: invert(1);
}

.tabbar {
  position: fixed;
  top: 16px;
  bottom: 16px;
  right: 16px;
  width: 244px;
  background-color: #2c2f48;
  border-radius: 20px;
}
.tabbar .tab-icon {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  filter: invert(1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.tabbar .tab-info {
  width: 100%;
  height: 242px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tabbar .tab-info .name-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 24px;
}
.tabbar .tab-info .name-info p {
  font-weight: bold;
}
.tabbar .tab-info .name-info span {
  font-size: smaller;
  opacity: 0.5;
}
.tabbar .new-members, .tabbar .followme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tabbar .new-members .info-member, .tabbar .followme .info-member, .tabbar .followme .title-follow {
  width: 100%;
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.tabbar .new-members .info-member span, .tabbar .followme .info-member span, .tabbar .followme .title-follow span {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}
.tabbar .new-members .info-member a, .tabbar .followme .info-member a, .tabbar .followme .title-follow a {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.2);
}
.tabbar .new-members .container-member .card-member, .tabbar .followme .container-member .card-member, .tabbar .followme .container-member .card-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 212px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: overlay;
  border-radius: 5px;
  padding: 8px;
  margin-top: 8px;
}
.tabbar .new-members .container-member .card-member svg, .tabbar .followme .container-member .card-member svg, .tabbar .followme .container-member .card-social svg {
  width: 44px;
  height: 44px;
}
.tabbar .new-members .container-member .card-member .ava-card, .tabbar .followme .container-member .card-member .ava-card, .tabbar .followme .container-member .card-social .ava-card, .tabbar .followme .container-member .card-social .ava-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tabbar .new-members .container-member .card-member .text-card, .tabbar .followme .container-member .card-member .text-card, .tabbar .followme .container-member .card-social .text-card {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tabbar .new-members .container-member .card-member .text-card p, .tabbar .followme .container-member .card-member .text-card p, .tabbar .followme .container-member .card-social .text-card p {
  font-weight: 400;
  font-size: 15px;
  line-height: 14px;
  color: #fff;
}
.tabbar .new-members .container-member .card-member .text-card span, .tabbar .followme .container-member .card-member .text-card span, .tabbar .followme .container-member .card-social .text-card span {
  font-weight: 400;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.25);
}
.tabbar .followme .title-follow {
  margin-top: 16px;
}
.tabbar .followme .container-member .card-social:nth-child(1) {
  transform: translateX(30px);
}
.tabbar .followme .container-member .card-social:nth-child(2) {
  transform: translateX(50px);
}
.tabbar .followme .container-member .card-social .ava-social {
  width: 44px;
  padding: 8px;
}
.tabbar .followme .container-member .card-social .ava-social img {
  width: 100%;
}
.tabbar .followme .container-member .card-social p {
  font-weight: 400;
  font-size: 15px;
  line-height: 14px;
  color: #fff;
  margin-left: 4px;
}

.container-main {
  position: absolute;
  top: 16px;
  left: 382px;
  width: calc(100% - 366px - 260px - 32px);
  background-color: #2c2f48;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-main .search {
  width: 100%;
  height: 44px;
  background-color: #393d5e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-main .search .container-search {
  width: 442px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #2c2f48;
  border-radius: 6px;
}
.container-main .search .container-search input {
  width: 80px;
  background-color: #2c2f48;
  border: 0;
  margin-left: 8px;
  transition: width 0.5s;
}
.container-main .search .container-search input:hover {
  width: 200px;
  transform: width 0.5s ease-in;
}
.container-main .search .container-search input::placeholder {
  color: #fff;
}
.container-main .search .container-search input:focus {
  outline: none !important;
  border: 1px solid #393d5e;
  box-shadow: 0 0 10px #2c2f48;
  color: #fff;
  border-radius: 6px;
}
.container-main .search .container-search ion-icon {
  filter: invert(1);
}
.container-main .main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.container-main .main .banner {
  width: 100%;
  height: 240px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-main .main .banner img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 20px;
}
.container-main .main .banner p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.container-main .main .st-feature, .container-main .main .st-recent, .container-main .main .st-popular {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.container-main .main .st-feature .title-feature, .container-main .main .st-recent .title-feature, .container-main .main .st-recent .title-recent, .container-main .main .st-popular .title-feature, .container-main .main .st-popular .title-popular {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container-main .main .st-feature .title-feature h2, .container-main .main .st-recent .title-feature h2, .container-main .main .st-recent .title-recent h2, .container-main .main .st-popular .title-feature h2, .container-main .main .st-popular .title-popular h2 {
  font-size: 24px;
  color: #fff;
}
.container-main .main .st-feature .title-feature a, .container-main .main .st-recent .title-feature a, .container-main .main .st-recent .title-recent a, .container-main .main .st-popular .title-feature a, .container-main .main .st-popular .title-popular a {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.2);
}
.container-main .main .st-feature .card-features, .container-main .main .st-recent .card-features, .container-main .main .st-popular .card-features, .container-main .main .st-popular .card-populars {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}
.container-main .main .st-feature .card-features a, .container-main .main .st-recent .card-features a, .container-main .main .st-popular .card-features a, .container-main .main .st-popular .card-populars a {
  width: 50%;
}
.container-main .main .st-feature .card-features a:nth-child(1), .container-main .main .st-recent .card-features a:nth-child(1), .container-main .main .st-popular .card-features a:nth-child(1), .container-main .main .st-popular .card-populars a:nth-child(1) {
  margin-right: 10px;
}
.container-main .main .st-feature .card-features a:nth-child(2), .container-main .main .st-recent .card-features a:nth-child(2), .container-main .main .st-popular .card-features a:nth-child(2), .container-main .main .st-popular .card-populars a:nth-child(2) {
  margin-left: 10px;
}
.container-main .main .st-feature .card-features .card-feature, .container-main .main .st-recent .card-features .card-feature, .container-main .main .st-popular .card-features .card-feature, .container-main .main .st-popular .card-populars .card-feature, .container-main .main .st-popular .card-populars .card-popular {
  width: 100%;
  height: 300px;
  position: relative;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.container-main .main .st-feature .card-features .card-feature img, .container-main .main .st-recent .card-features .card-feature img, .container-main .main .st-popular .card-features .card-feature img, .container-main .main .st-popular .card-populars .card-feature img, .container-main .main .st-popular .card-populars .card-popular img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
}
.container-main .main .st-feature .card-features .card-feature .card-body, .container-main .main .st-recent .card-features .card-feature .card-body, .container-main .main .st-popular .card-features .card-feature .card-body, .container-main .main .st-popular .card-populars .card-feature .card-body, .container-main .main .st-popular .card-populars .card-popular .card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), radial-gradient(22.52% 54.93% at 49.06% 30.28%, #31376f 0%, rgba(137, 75, 162, 0) 100%), conic-gradient(from 180deg at 50% 36.97%, #7976e8 -110.28deg, #f449f4 6.37deg, #0019c0 153.67deg, #7976e8 249.72deg, #f449f4 366.37deg);
  backdrop-filter: blur(25px);
}
.container-main .main .st-feature .card-features .card-feature .card-body h3, .container-main .main .st-recent .card-features .card-feature .card-body h3, .container-main .main .st-popular .card-features .card-feature .card-body h3, .container-main .main .st-popular .card-populars .card-feature .card-body h3, .container-main .main .st-popular .card-populars .card-popular .card-body h3 {
  font-size: 24px;
  color: #fff;
}
.container-main .main .st-feature .card-features .card-feature .card-body p, .container-main .main .st-recent .card-features .card-feature .card-body p, .container-main .main .st-popular .card-features .card-feature .card-body p, .container-main .main .st-popular .card-populars .card-feature .card-body p, .container-main .main .st-popular .card-populars .card-popular .card-body p {
  color: rgba(255, 255, 255, 0.4);
}
.container-main .main .st-feature .card-features .card-feature .card-sub, .container-main .main .st-recent .card-features .card-feature .card-sub, .container-main .main .st-popular .card-features .card-feature .card-sub, .container-main .main .st-popular .card-populars .card-feature .card-sub, .container-main .main .st-popular .card-populars .card-popular .card-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-main .main .st-feature .card-features .card-feature .card-sub .online, .container-main .main .st-recent .card-features .card-feature .card-sub .online, .container-main .main .st-popular .card-features .card-feature .card-sub .online, .container-main .main .st-popular .card-populars .card-feature .card-sub .online, .container-main .main .st-popular .card-populars .card-popular .card-sub .online,
.container-main .main .st-feature .card-features .card-feature .card-sub .member,
.container-main .main .st-recent .card-features .card-feature .card-sub .member,
.container-main .main .st-popular .card-features .card-feature .card-sub .member,
.container-main .main .st-popular .card-populars .card-feature .card-sub .member,
.container-main .main .st-popular .card-populars .card-popular .card-sub .member {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
  font-size: 12px;
}
.container-main .main .st-feature .card-features .card-feature .card-sub .online ion-icon, .container-main .main .st-recent .card-features .card-feature .card-sub .online ion-icon, .container-main .main .st-popular .card-features .card-feature .card-sub .online ion-icon, .container-main .main .st-popular .card-populars .card-feature .card-sub .online ion-icon, .container-main .main .st-popular .card-populars .card-popular .card-sub .online ion-icon,
.container-main .main .st-feature .card-features .card-feature .card-sub .member ion-icon,
.container-main .main .st-recent .card-features .card-feature .card-sub .member ion-icon,
.container-main .main .st-popular .card-features .card-feature .card-sub .member ion-icon,
.container-main .main .st-popular .card-populars .card-feature .card-sub .member ion-icon,
.container-main .main .st-popular .card-populars .card-popular .card-sub .member ion-icon {
  filter: invert(1);
  margin-right: 4px;
  font-size: 14px;
}
.container-main .main .st-popular .card-populars {
  height: 200px;
}
.container-main .main .st-popular .card-populars .card-popular {
  height: 200px;
}
.container-main .main .st-popular .card-populars .card-popular img {
  width: 40%;
  height: 100%;
}
.container-main .main .st-popular .card-populars .card-popular .card-bodyy {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), radial-gradient(22.52% 54.93% at 49.06% 30.28%, #31376f 0%, rgba(137, 75, 162, 0) 100%), conic-gradient(from 180deg at 50% 36.97%, #7976e8 -110.28deg, #f449f4 6.37deg, #0019c0 153.67deg, #7976e8 249.72deg, #f449f4 366.37deg);
  backdrop-filter: blur(25px);
}
.container-main .main .st-popular .card-populars .card-popular .card-bodyy h3 {
  font-size: 24px;
  color: #fff;
}
.container-main .main .st-popular .card-populars .card-popular .card-bodyy p {
  color: rgba(255, 255, 255, 0.4);
}
.container-main .main .st-popular .card-populars .card-popular .card-bodyy .online {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
  font-size: 12px;
}
.container-main .main .st-popular .card-populars .card-popular .card-bodyy .online ion-icon {
  filter: invert(1);
  margin-right: 4px;
  font-size: 14px;
}
.container-main .main .st-recent .card-recents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
}
.container-main .main .st-recent .card-recents a {
  width: 33.33%;
}
.container-main .main .st-recent .card-recents .card-recent {
  width: 96%;
  height: 300px;
  position: relative;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.container-main .main .st-recent .card-recents .card-recent img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
}
.container-main .main .st-recent .card-recents .card-recent .card-bodyy {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 140px;
  padding: 16px;
  border-radius: 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), radial-gradient(22.52% 54.93% at 49.06% 30.28%, #31376f 0%, rgba(137, 75, 162, 0) 100%), conic-gradient(from 180deg at 50% 36.97%, #7976e8 -110.28deg, #f449f4 6.37deg, #0019c0 153.67deg, #7976e8 249.72deg, #f449f4 366.37deg);
  backdrop-filter: blur(25px);
}
.container-main .main .st-recent .card-recents .card-recent .card-bodyy h3 {
  font-size: 24px;
  color: #fff;
}
.container-main .main .st-recent .card-recents .card-recent .card-bodyy p {
  color: rgba(255, 255, 255, 0.4);
}
.container-main .main .st-recent .card-recents .card-recent .member {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
  font-size: 12px;
}
.container-main .main .st-recent .card-recents .card-recent .member ion-icon {
  filter: invert(1);
  margin-right: 4px;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */