@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");
.navigation {
  position: fixed;
  top: 16px;
  bottom: 16px;
  left: 16px;
  width: 350px;
  background-color: #776599;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}
.navigation .nav-icon {
  width: 70px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #625686;
  position: relative;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.navigation .nav-icon svg {
  width: 40px;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 60px;
  z-index: 1000;
}
.navigation .nav-icon ul {
  position: relative;
}
.navigation .nav-icon ul li {
  position: relative;
  list-style: none;
  margin-bottom: 20px;
}
.navigation .nav-icon ul li .iconBx {
  width: 40px;
  height: 40px;
}
.navigation .nav-icon ul li .iconBx img {
  width: 100%;
}
.navigation .nav-content {
  width: calc(100% - 70px);
  display: flex;
  flex-direction: column;
}
.navigation .nav-content .nav-title {
  height: 44px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  color: #fff;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navigation .nav-content ul {
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 14px;
}
.navigation .nav-content ul li {
  position: relative;
  list-style: none;
  margin-bottom: 10px;
  padding: 14px;
  border-radius: 6px;
}
.navigation .nav-content ul li.active {
  background-color: #31295d;
}
.navigation .nav-content ul li .itemBx {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  padding: 4px;
}
.navigation .nav-content ul li .itemBx img {
  width: 100%;
  filter: invert(1);
}
.navigation .nav-content a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.navigation .nav-talking {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #1d203e;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.navigation .nav-talking .nav-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
}
.navigation .nav-talking svg {
  width: 32px;
  height: 32px;
  margin-right: 4px;
}
.navigation .nav-talking .talkingBx {
  width: 32px;
  padding: 8px;
  display: flex;
  align-items: center;
}
.navigation .nav-talking img {
  width: 100%;
  filter: invert(1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

body {
  max-height: 100vh;
}

.tabbar {
  position: fixed;
  top: 16px;
  bottom: 16px;
  right: 16px;
  width: 244px;
  background-color: #2c2f48;
  border-radius: 20px;
}
.tabbar .tab-icon {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  filter: invert(1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.tabbar .tab-info {
  width: 100%;
  height: 242px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tabbar .tab-info .name-info {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.tabbar .tab-info .name-info p {
  font-weight: bold;
}
.tabbar .tab-info .name-info span {
  font-size: smaller;
  opacity: 0.5;
}
.tabbar .new-members, .tabbar .followme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tabbar .new-members .info-member, .tabbar .followme .info-member, .tabbar .followme .title-follow {
  width: 100%;
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.tabbar .new-members .info-member span, .tabbar .followme .info-member span, .tabbar .followme .title-follow span {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}
.tabbar .new-members .info-member a, .tabbar .followme .info-member a, .tabbar .followme .title-follow a {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.2);
}
.tabbar .new-members .container-member .card-member, .tabbar .followme .container-member .card-member, .tabbar .followme .container-member .card-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 212px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: overlay;
  border-radius: 5px;
  padding: 8px;
  margin-top: 8px;
}
.tabbar .new-members .container-member .card-member svg, .tabbar .followme .container-member .card-member svg, .tabbar .followme .container-member .card-social svg {
  width: 44px;
  height: 44px;
}
.tabbar .new-members .container-member .card-member .ava-card, .tabbar .followme .container-member .card-member .ava-card, .tabbar .followme .container-member .card-social .ava-card, .tabbar .followme .container-member .card-social .ava-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tabbar .new-members .container-member .card-member .text-card, .tabbar .followme .container-member .card-member .text-card, .tabbar .followme .container-member .card-social .text-card {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tabbar .new-members .container-member .card-member .text-card p, .tabbar .followme .container-member .card-member .text-card p, .tabbar .followme .container-member .card-social .text-card p {
  font-weight: 400;
  font-size: 15px;
  line-height: 14px;
  color: #fff;
}
.tabbar .new-members .container-member .card-member .text-card span, .tabbar .followme .container-member .card-member .text-card span, .tabbar .followme .container-member .card-social .text-card span {
  font-weight: 400;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.25);
}
.tabbar .followme .title-follow {
  margin-top: 16px;
}
.tabbar .followme .container-member .card-social:nth-child(1) {
  transform: translateX(30px);
}
.tabbar .followme .container-member .card-social:nth-child(2) {
  transform: translateX(50px);
}
.tabbar .followme .container-member .card-social .ava-social {
  width: 44px;
  padding: 8px;
}
.tabbar .followme .container-member .card-social .ava-social img {
  width: 100%;
}
.tabbar .followme .container-member .card-social p {
  font-weight: 400;
  font-size: 15px;
  line-height: 14px;
  color: #fff;
  margin-left: 4px;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */