$primary-bg-color: #2c2f48;
$secondary-bg-color: #393d5e;
$tertiary-bg-color: rgba(255, 255, 255, 0.3);
$primary-text-color: #fff;
$secondary-text-color: rgba(255, 255, 255, 0.4);
$tertiary-text-color: rgba(255, 255, 255, 0.3);
